modules = []
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unixtools.xxd", "pyenv", "python313Full", "python313Packages.pip", "gh"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install flask --break-system-packages --user"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install flask-login --break-system-packages --user"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80
